body,html,#treeView { 
	height: 100%;
}

body {
  cursor:default;
  margin: 0;
  padding: 0;
}

html { 
	margin-top: 10px;
}

#treeView { 
	width: 100%;
	padding: 0 10px;
	overflow: auto;
}

.NodeTypeLabel {
    font-size : 10px;
    fill: white;
}


.node.parent {
  cursor: pointer;
}

.node image { 
	opacity: 1;
}

.node text,h1,button { 
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: moz-none;
-ms-user-select: none;
user-select: none;
}

.node image.leaf {
/*   opacity: 0.6; */
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* .Campaigns,.campaign { */
/*   fill: green; */
/* } */

/* .TTPs,.ObservedTTP,.AttackPattern,.MalwareBehavior { */
/*   fill: purple; */
/* } */

/* .Indicators,.Indicator,.Indicator-Utility,.Indicator-Composite,.Indicator-Backdoor,.Indicator-Downloader { */
/*   fill: #B8860B; */
/* } */


/* .Observable,.Observable-ElectronicAddress,.Observable-Email,.Observable-IPRange,.Observable-MD5,.Observable-URI { */
/*   fill: #007aa5; */
/* } */

/* .ThreatActors,.threatActor { */
/*   fill:red; */
/* 	} */

/* .top { */
/*   fill: blue; */
/* } */

/* .Tools, .UsesTool { */
/*   fill: purple; */
/* } */

/* .VictimTargeting { */
/*   fill: #eb4c42; */
/* } */




