<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <style type="text/css">
body {
	padding: 50px;
	font: 13px Helvetica, Arial, sans-serif;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}
</style>
  <script type="text/javascript" src="/js/d3/d3.v3.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="/js/stixTree.js"></script>
  
</head>
<body>