/*
 * Default coloring of top level category tables
 * 
 * To update,
 * - to change colors, edit the first parameter of hsl() to change the hue
 * - to change the saturation "color-ness" (red-ness or orange-ness) edit the second parameter
 *   (saturation closer to 100% are brighter; closer to 0% are closer to gray scale) 
 * - to change lightness (to make pailer or brighter) edit third parameter
 *   (50% is the brightest; 100% is white and 0% is black for any hue and saturation)
 * 
 * By default, all categories use the same saturation and lightness
 * - even rows are 70% saturation; 90% lightness (darker)
 * - odd rows are 90% saturation; 98% lightness (closer to white)
 * 
 * For example palettes see:
 *   http://www.w3.org/TR/css3-color/#hsl-examples
 */

/*
  default to light gray + dark gray for alternating rows in top level category
  tables unless overridden by other css rules 
*/
.containerGeneric,
table.topLevelCategory > tbody:nth-child(even)
{
background-color: hsl(0, 0%, 90%);
}
table.topLevelCategory > tbody:nth-child(odd)
{
background-color: hsl(0, 0%, 95%);
}

/*
 color specific templates for top level tables for specific categories
*/

.containerIndicator,
table.topLevelCategory.indicators > tbody:nth-child(even)
{
background-color: hsl(56, 70%, 90%);
}
table.topLevelCategory.indicators > tbody:nth-child(odd)
{
background-color: hsl(56, 90%, 95%);
}

.containerTtp,
table.topLevelCategory.ttps > tbody:nth-child(even)
{
background-color: hsl(274, 70%, 90%);
}
table.topLevelCategory.ttps > tbody:nth-child(odd)
{
background-color: hsl(274, 90%, 95%);
}

.containerObservable,
table.topLevelCategory.observables > tbody:nth-child(even)
{
background-color: hsl(220, 70%, 90%);
}
table.topLevelCategory.observables > tbody:nth-child(odd)
{
background-color: hsl(220, 90%, 95%);
}

.containerCampaign,
table.topLevelCategory.campaigns > tbody:nth-child(even)
{
background-color: hsl(200, 70%, 90%);
}
table.topLevelCategory.campaigns > tbody:nth-child(odd)
{
background-color: hsl(200, 90%, 95%);
}

.containerThreatActor,
table.topLevelCategory.threatActors > tbody:nth-child(even)
{
background-color: hsl(358, 70%, 90%);
}
table.topLevelCategory.threatActors > tbody:nth-child(odd)
{
background-color: hsl(358, 90%, 95%);
}

.containerExploitTarget,
table.topLevelCategory.exploitTargets > tbody:nth-child(even)
{
background-color: hsl(0, 70%, 90%);
}
table.topLevelCategory.exploitTargets > tbody:nth-child(odd)
{
background-color: hsl(0, 90%, 95%);
}

.containerIncident,
table.topLevelCategory.incidents > tbody:nth-child(even)
{
background-color: hsl(24, 70%, 90%);
}
table.topLevelCategory.incidents > tbody:nth-child(odd)
{
background-color: hsl(24, 90%, 95%);
}

/*
.containerEvent, .eventContainer
{
  background-color: hsl(270, 70%, 90%);
}

.containerAction, .actionContainer
{
  background-color: hsl(120, 70%, 90%);
}
*/